{
  "root": true,
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "firebase": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "linebreak-style": "off"
  }
}
