<form id="add-form" class="">
    <div class="form-group">
        <label for="number" class="control-label">Expense</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" class="form-control" name="number" id="number" placeholder="Amount of Consumption" required>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="control-label">Type</label>
        <br>
        <div class="" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="item1">Meal</button>
            <button type="button" class="btn btn-default" id="item2">Life</button>
            <button type="button" class="btn btn-default" id="item3">Entertainment</button>
            <button type="button" class="btn btn-default" id="item4">Traffic</button>
            <button type="button" class="btn btn-default" id="item5">Others</button>
            <button type="button" class="btn btn-default" id="income">Income</button>
            <!-- <div class="col-xs-12"></div> -->
            <input type="text" class="hide" name="type" id="type">
        </div>
    </div>
    <div class="form-group">
        <label for="date" class="control-label">When</label>
        <div class="">
            <input type="date" class="form-control" name="date" id="date" required>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label">What</label>
        <div class="">
            <input type="text" class="form-control" name="title" id="title" placeholder="Items">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="./index.html">
                <button type="button" class="btn btn-default">Home</button>
            </a>
        </div>
    </div>
</form>
