<form id="add-form" class="">
    <div class="form-group">
        <label for="number" class="control-label">Expense</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" class="form-control" name="number" id="number" placeholder="Amount of Consumption" required>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="control-label">Type</label>
        <br>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="meal">Meal</button>
            <button type="button" class="btn btn-default" id="life">Life</button>
            <button type="button" class="btn btn-default" id="entertainment">Entertainment</button>
            <button type="button" class="btn btn-default" id="traffic">Traffic</button>
            <button type="button" class="btn btn-default" id="others">Others</button>
            <button type="button" class="btn btn-default" id="income">Income</button>
            <input type="text" class="hide" name="type" id="type">
        </div>
    </div>

    <div class="form-group">
        <label for="date"  class="control-label">When</label>
        <div class="">
            <input type="date" class="form-control" name="date" id="date" required>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label">What</label>
        <div  class="">
            <input type="text" class="form-control" name="title" id="title" placeholder="Lunch, Dinner, Watch Movie">
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="./index.html">
                <button type="button" class="btn btn-default">Home</button>
            </a>
        </div>
    </div>
</form>