.vertical-center {
    height: 70%;
    /* Fallback for browsers do NOT support vh unit */
    height: 70vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

// #loading {
// 	height: 100vh;
// 	// display: flex;
// 	// align-items: center;
// }

.small-width {
	margin-top: 50px;
	// margin-left: 35%;
	// margin-right: 35%;
}

body {
    padding-top: 70px;
    // margin-left: 70px;
    // margin-right: 70px;
}

.chart-container-income {
	height: 210px;
}

.chart-container-data {
	height: 260px;
}


.btn {
	margin-bottom: 5px;
}

@media (min-width: 768px) {

	.btn {
		margin-bottom: 0px;
	}

	.chart-container-income {
		height: 270px;
	}

	.chart-container-data {
		height: 350px;
	}

	.small-width {
		margin-top: 50px;
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media (min-width: 992px) {

	.btn {
		margin-bottom: 0px;
	}

	.chart-container-income {
		height: 350px;
	}

	.chart-container-data {
		height: 450px;
	}

	.small-width {
		margin-top: 50px;
		margin-left: 30%;
		margin-right: 30%;
	}
}

@media (min-width: 1200px) {

	.btn {
		margin-bottom: 0px;
	}

	.chart-container-income {
		height: 270px;
	}

	.chart-container-data {
		height: 350px;
	}

	.small-width {
		margin-top: 50px;
		margin-left: 35%;
		margin-right: 35%;
	}
}
